* {
  background-color: #253340;
  scroll-behavior: smooth;
}
header {
  margin: 20px;
}
header a {
  background-color: #595959;
  padding: 20px;
  text-decoration: none;
  color: black;
}
header a:hover {
  text-decoration: underline;
  background-color: #404040;
  color: #BFBFBF;
}

body {
  text-align: center;
}